# Java
*.class
*.jar
*.war
*.ear
*.iml

# Maven
target/

# Gradle
.gradle/
build/

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

.env


/incom_OpenIDConnect/
/secrets
/secrets/**

.client_secret.json
securingapiwithoauth2/secrets/
openidconnect/secrets/
auth-server-demo/secrets/