# Java
*.class
*.jar
*.war
*.ear
*.iml

# Maven
target/

# Gradle
.gradle/
build/

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

.env

/OpenIDConnect/
/incom_OpenIDConnect/